
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<div class="content"> 
    <div class="float-left"> 
    <form id="product"  method="post" enctype="multipart/form-data" action="/api/section"> 
        <label for="file">File</label>
        <input name="file" type="file" />
    </div>
    <div>
            <p> 
                <input type="submit" value="Upload" /> 
            </p> 
        </div>
    </form> 
    </div> 
